{% load staticfiles %}

<html>


<head>
<title>404 error</title>

</head>
<body>
	<div id="my-dashboard">
	</div>
	<script type="text/javascript">
		(function(d, a, s, h, b, oa, rd) {
		  if (!d[b]) {oa = a.createElement(s), oa.async = 1;
		  oa.src = h; rd = a.getElementsByTagName(s)[0];
		  rd.parentNode.insertBefore(oa, rd);} d[b]=d[b]||{};
		  d[b].addDashboard=d[b].addDashboard||function(v) {
		  (d[b].list = d[b].list || []).push(v) };
		})(window, document, 'script',
		  'https://cdn-a.cumul.io/js/cumulio.min.js', 'Cumulio');
	  
		Cumulio.addDashboard({
		  dashboardId: 'ca8322f0-1a29-43df-9c4a-fb9485feaee0>',
		  container: '#my-dashboard',
		  key: '050051cf-d852-4868-962a-60f324ae19af',
		  token: 'WzavvqDD5zZVeC0MGHgc3Y20Di41OaxzVS6BHoOljejMe1ajwGfFOEQwonuxvXOXbplfaojf9RHIA6AjwcniBXfAIfH2A4AaDUBtlhQIql8SEsFMZYGn5ybfyX20XCY8kOxD3cdeEIRgbhBxfl1jun'
		});
	  </script>
</body>
</html>