{% load staticfiles %}

<html>


<head>
<title>404 error</title>

</head>
<body>
	<div id="my-dashboard">
	</div>
	<script type="text/javascript">
		(function(d, a, s, h, b, oa, rd) {
		  if (!d[b]) {oa = a.createElement(s), oa.async = 1;
		  oa.src = h; rd = a.getElementsByTagName(s)[0];
		  rd.parentNode.insertBefore(oa, rd);} d[b]=d[b]||{};
		  d[b].addDashboard=d[b].addDashboard||function(v) {
		  (d[b].list = d[b].list || []).push(v) };
		})(window, document, 'script',
		  'https://cdn-a.cumul.io/js/cumulio.min.js', 'Cumulio');
	  
		Cumulio.addDashboard({
		  dashboardId: '625dbb79-6f2b-40ab-84ff-fda86a7b599a',
		  container: '#my-dashboard',
		  key: '6c456806-429f-4b19-a193-dd133ff124f6',
		  token: 'XIQlAwYd7qLnqWb9BvI5bEg6IpaoAXQVoj61vR2Cksuq7C7fVoIeuiuhaAOuxNZ5DM1njKHVdlVEqHuMCACeNNdpMETc2trKrgIUF64DF0WpqblCzO8RyhXQs8PQ3gXrsalYVMo61gmh1POqPTsfus'
		});
	  </script>
</body>
</html>