{% extends 'base.html' %}



  

  {% block body %}


          <div class="divider"></div>
          <div id="accordion-options">
          
              <div class="col s12 m8 l9">
                <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header"></i>First</div>
                    <div class="collapsible-body"><p>Dummy Data</p></div>
                  </li>
                  <li>
                    <div class="collapsible-header">Second</div>
                    <div class="collapsible-body"><p>Data</p></div>
                  </li>
                  <li>
                    <div class="collapsible-header">Third</div>
                    <div class="collapsible-body"><p>Data</p></div>
                  </li>
                </ul>
              </div>
              </div>
             
        
        

{% endblock %}
  


  <!-- ================================================
    Scripts
    ================================================ -->

  
 